################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/_gminer_
/VirtualBox VMs
/Videos
/Tracing
/source
/Searches
/Saved Games
/RiderProjects
/PycharmProjects
/postgresql_14.exe
/postgis_3_1_pg14.exe
/Pictures
/OneDrive
/ntuser.ini
/NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/Music
/Links
/learn
/Jedi
/IdeaProjects
/hello
/Favorites
/edb_psqlodbc.exe
/edb_pgjdbc.exe
/edb_npgsql.exe
/edb_languagepack_2.exe
/Downloads
/Documents
/Doctor Web
/Desktop
/Contacts
/CLionProjects
/AppData
/apachehttpd.exe
/.vscode
/.vivaldi_reporting_data
/.VirtualBox
/.viminfo
/.templateengine
/.swt
/.spyder-py3
/.nuget
/.nbi
/.matplotlib
/.m2
/.lesshst
/.jupyter
/.jdks
/.ipython
/.idlerc
/.gitconfig
/.fleet
/.dotnet
/.continuum
/.condarc
/.cache
/.bash_history
/.AzureToolsForIntelliJ
